.testButton {
    background: black;
    height: 30px;
    width: 60px;
    border: none;
  
    .circle {
      height: 30px;
      width: 30px;
      background: white;
      border-radius: 50%;
      transition: transform 0.3s;
      transform: translate(0, 0); // Default position
  
      &.yearly {
        transform: translate(30px, 0);
      }
  
      &.monthly {
        transform: translate(0, 0);
      }
    }    
  }
  